<div class="max-w-sm rounded overflow-hidden shadow-lg p-3 rounded outline outline-slate-500 dark:outline-white">
  <p>
    <strong>Question:</strong>
    <%= truncate(card.question, length: 50, omission: '...') %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= truncate(card.answer, length: 50, omission: '...') %>
  </p>

  <% if @deck.is_owner(current_user) %>
    <div class="flex flex-row gap-x-3">
      <p><%= link_to "edit", edit_deck_card_path(@deck, card) %></p>
      <p><%= link_to "delete", [card.deck, card], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></p>
    </div>
  <% end %>
</div>
