<div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg p-3 outline outline-slate-500 dark:outline-white">
  <%= link_to deck do %>
  <div>
    <%= truncate(deck.name, length: 50, omission: '...')  %>
    <div>
      To Review: <%= deck.cards_to_review(current_user).count %>
    </div>
    <div>
      Completed: <%= deck.cards_not_to_review(current_user).count %>
    </div>
  </div>
  <% end %>
</div>